.container {
	position: relative;
	width: 33.33%;
	min-width: 640px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
  }
  
  .heading-box {
	display: flex;
	height: 200px;
	align-items: flex-start;
  }

  .heading {
	font-family: 'Bree Serif', sans-serif;
	text-align: left;
	font-weight: normal;
	font-size: 35px;
	align-self: flex-start;
  }

  .heading-image {
	height: 70%;
	margin-left: auto;
  }
  
  h1 {
	font-family: 'Bree Serif', sans-serif;
	text-align: left;
	font-weight: normal;
  }
  
  a {
	text-decoration: none;
	color: #286d96;
  	transition: all 0.2s ease-in-out;
  }

  .nav-link:hover {
	color:cornflowerblue;
	transition: all 0.2s ease-in-out;
	text-decoration: underline;
  }


  h2 {
	font-family: 'Bree Serif', sans-serif;
	font-weight: normal;
  }
  

  .ageSentence, #age {
	display: inline-block;
	font-size: 20px;
	font-weight: 200;
	font-family: 'Bree Serif', sans-serif;
	word-spacing: 3px;
	text-align: center;
  }

  #age {
	color:rgb(0, 0, 0);
  }

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-118%, 0, 0);
  }
}

.ticker_wrap {
  
  position: relative;
  max-width: 800px;
  overflow:hidden;
  height: 3rem;
  background-color:darkslategray; 
  box-sizing: content-box;
  margin-top: 20px;
  
}
.ticker_wrap .ticker {

    display: inline-block;
    height: 3rem;
    line-height: 3rem;  
    white-space: nowrap;
	width: 150%;
	margin: 0 auto;

	transform: translate3d(100%);
	animation: ticker 20s linear infinite;
  }


.ticker .ticker_item {

	display: inline-block;
	padding: 0 2rem;
    font-size: large;
    color: white;
	font-family: 'Bree Serif', sans-serif;
	font-weight: lighter;   
  }


  .reachme {
	display: inline-block;
	margin-top: 25px;
	font-size: large;
	font-weight: 200;
	text-align: center;
	font-family: 'Bree Serif', sans-serif;
	word-spacing: 3px;
  }

  .email-link {
	color: chocolate;
  }

  .linkedin-link{
	color: crimson;
  }

  .linkedin-link:hover {
	color:rgb(6, 136, 45);
	transition: all 0.2s ease-in-out;
	text-decoration: underline;
  }

  .email-link:hover {
	color:rgb(6, 136, 45);
	transition: all 0.2s ease-in-out;
	text-decoration: underline;
  }

  .resume-link:hover {
	color:rgb(6, 136, 45);
	transition: all 0.2s ease-in-out;
	text-decoration: underline;
  }

  .experience {
	margin-top: 50px;
  }

  .job-card {
	background-color: transparent;
	width: 50%;
	height: 200px;
	border: 1px solid #f1f1f1;
	perspective: 1000px;
  }

  .job-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition:	transform 0.8s;
	transform-style: preserve-3d;
  }

  .job-card:hover .job-card-inner {
	transform: rotateY(180deg);
  }

  .job-card-front {
	background-color: aliceblue;
  }

  .job-card-front, .job-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }

  .job-card-back {
	transform: rotateY(180deg);
	background-color: aliceblue;
  }

 