.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 50em;
	animation: fadeInAnimation ease 1.5s;
  }

  #nav-bar {
	display: flex;
	margin: auto;
	font-family: 'Bree Serif', sans-serif;
	font-weight: lighter;
	margin-top: 18px;
	align-items: center;
	justify-content: center;
	width: 100%
  }

  #nav-bar a {
	order: 2;
  }


  .nav-about {
	padding-right: 20px;
	color: black;
  }

  .nav-blogs {
	color: rgb(160, 160, 160);
  }

  #nav-bar a:hover {
	color: cadetblue;
  }

  .dot {
	width: 6px;
	height: 6px;
	background: #f0d22d;
	border-radius: 50%;
	opacity: 1;
	transform: translateX(-8px);
	transition: transform 0.35s;
	order: 1;
  }

  .nav-about:hover ~ .dot {
	transform: translate(28px,15px)
  }

  .nav-blogs:hover ~ .dot {
	transform: translate(83px,15px)
  }
  
  .heading-box {
	display: flex;
	height: auto;
	padding-bottom: 20px;
	padding-top: 15px;

  }

  .heading {
	font-family: 'Bree Serif', sans-serif;
	text-align: left;
	font-weight: normal;
	font-size:2em;
	flex: 0 0 80%;
  }

  .heading-image img {
	max-width: 100%;
	object-fit: cover;
	height: auto;
  }

  
  
  h1 {
	font-family: 'Bree Serif', sans-serif;
	text-align: left;
	font-weight: normal;
  }
  
  a {
	text-decoration:wavy;
	color: black;
  	transition: all 0.2s ease-in-out;
	
  }

  .nav-link:hover {
	color:cornflowerblue;
	transition: all 0.2s ease-in-out;
	text-decoration: underline;
  }


  h2 {
	font-family: 'Bree Serif', sans-serif;
	font-weight: normal;
  }
  

  .ageSentence {
	font-size: 20px;
	font-weight: 200;
	font-family: 'Bree Serif', sans-serif;
	word-spacing: 3px;
	text-align: center;
	margin-top: 50px;
	align-self: center;
	width: 90%;
  }

  #age {
	color:rgb(23, 100, 71);
	font-family: monospace;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
  }

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(50%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-70%, 0, 0);
  }
}

.ticker_wrap {
  
  position: relative;
  width: 100%;
  overflow:hidden;
  height: 3rem;
  background-color:darkslategray; 
  box-sizing: content-box;
  margin-top: 20px;
  
}
.ticker {

    display: inline-block;
    height: 3rem;
    line-height: 3rem;  
    white-space: nowrap;
	padding-right: 100%;
	/* transform: translate3d(100%); */
	animation: ticker 20s linear infinite;
	box-sizing: content-box;
  }


.ticker .ticker_item {

	display: inline-block;
	padding: 0 2rem;
    font-size: large;
    color: white;
	font-family: 'Bree Serif', sans-serif;
	font-weight: lighter;   
  }


  .reachme {
	display: inline-block;
	margin-top: 70px;
	font-size: 20px;
	font-weight: 200;
	text-align: center;
	font-family: 'Bree Serif', sans-serif;
	word-spacing: 3px;
  }

  .email-link {
	white-space: nowrap;
	color: #31964c;
  }


  .linkedin-link{
	color: #0072b1;
  }

  .linkedin-link:hover {
	transition: all 0.2s ease-in-out;
	text-decoration: underline;
  }

  .resume-link {
	color:rgb(212, 122, 95);
  }

  .email-link:hover {
	transition: all 0.2s ease-in-out;
	text-decoration: underline;
  }

  .resume-link:hover {
	transition: all 0.2s ease-in-out;
	text-decoration: underline;
  }

  .experience {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	text-align: center;
  }

  .job-cards {
	display: flex;
	flex-direction: column;
  }

  .job-card {
	background-color:transparent;
	height: 200px;
	perspective: 1000px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10px;
  }

  .job-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition:	transform 0.8s;
	transform-style: preserve-3d;
  }

  .job-card:hover .job-card-inner {
	transform: rotateY(180deg);
	/* height: 300px; */
  }

  .job-card-front {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .job-card-front, .job-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }

  .job-card-back {
	transform: rotateY(180deg);
	background-color:rgb(247, 247, 247);
  }

  .logos {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
 
  li {
	font-family: 'Bree Serif', sans-serif;
	text-align: left;
	font-size: 1.1em;
  }

/* Blogs Style */

  .blogs {
	background-color: #141414;
  } 

  .blogs .nav-blogs {
	color: white;
  }
  
  .blogs .nav-about {
	color: rgb(77,77,77);
  }

  .blogs #nav-bar a:hover {
	color: rgb(121, 191, 194);
  }

  .blogs .dot {
	transform: translateX(55px);
	color: #f0d22d;
  }

  .blogs .container {
	position: relative;
	max-width: 60em;
	display: flex;
	flex-direction: column;
	/* animation: fadeInAnimation ease 1.5s; */
	margin-top: 100px;
  }

  @keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
  }

  .blogs .title {
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 25px;
  }

  .blogs #nav-bar {
	margin-top: 18px
  }

  p {
	font-size: 1.7em;
	font-family: 'Roboto',sans-serif;
	color: white;
	word-spacing: 2px;
	line-height: 40px;
  }

  .date {
	font-size: 15px;
	font-family: 'Bree Serif', sans-serif;
	color: #f0d22d;
  }

  .blogs h1 {
	margin-bottom: 15px;
  }

  .blogs #linkToBill {
	font-size: inherit;
	font-family: 'Roboto',sans-serif;
	color:aquamarine;
  }

  .hidden {
	opacity: 0;
	filter:blur(2px);
	transform: translateX(-5%);
	transition: all 1s;
  }

  .show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
  }

  #my-qualities {
	text-align: center;
	font-family: 'Bree Serif', sans-serif;
	font-size: 15px;
  }
  